.Request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 60%;

  input[type="radio"] {
    margin: 5px;
    cursor: pointer;
  }

  input[type="url"] {
    width: 100%;
    padding: 5px;
  }

  button {
    display: block;
    width: 25%;
    margin-bottom: 5px;
  }

  textarea {
    width: 100%;
  }
}
